:root {font: 20px/1.2 "Roboto", sans-serif;}

body,
body * {
  background-color: rgb(253, 255, 252);
  margin:           unset;
  box-sizing:       unset;
  padding:          unset;
  font-size:        unset;
  color:            unset;
  text-decoration:  unset;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr  [s] minmax(0in, 7.5in) [e] 1fr;
  grid-template-rows: : 0.5fr 1fr 1fr 0.5fr ;
  height: 500px;
  padding: 0.25fr, 0;
}

.header * {
  grid-column: s/e;
  display: flex;

  color: #001021;
}

.header .toc {
  justify-content: flex-end;
  align-items: flex-end;
  height: 80px
}

.toc .tab:hover {
  color: #06908F;
  box-shadow: inset 0 -0.25rem #c33c54;
}

.header .toc a {
  padding: 0.1in;
  font: 0.75rem Helvetica, sans-serif;
  font-weight: bold;
  color: #c33c54;
  box-shadow: inset 0 -0.25rem #06908F;
}

.hello {
  grid-row: 2 / 3;
  justify-content: flex-start;
  align-items: flex-end;
  font: 1rem Courier, serif;
  font-weight: lighter;
}

.bigName {
  grid-row: 3 / 4;
  justify-content: flex-start;
  align-items: flex-end;
  font: 5rem Helvetica, sans-serif;
  font-weight: bold;
  color: #047582;
  box-shadow: inset 0 -0.25rem #E64764
}

.intro {
  grid-row: 1 / 2;
  align-items: center;
  font: 1rem Courier, serif;
  color: #06908F;
}

.list {
  display: grid;
  grid-template-columns: 1.5fr  minmax(0in, 7.5in) 1fr;
  justify-content: left;
  padding-bottom: 1.3in
}

.list ul {
  grid-column: 2/3

}

#work {
  height: 1000px;
  display: grid;
  grid-template-columns: 15% 1fr 15% ;
  grid-template-rows: 4rem 1fr 1fr 1fr 1fr 1fr 0.5in;
  padding-bottom: 1rem;
}



#work h2 {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-content: flex-start;
  font: 1.75rem Helvetica, sans-serif;
  font-weight: bold;
  color: #c33c54
}

#work .exp {
  grid-column: 2/3;
  display:grid;
  grid-template-columns:  5% 2fr 1fr 1fr 5% ;
  grid-template-rows: 1.5rem 0.25rem 1.5rem 0.25rem 1.5rem;
}

.exp .title {
  font-weight: bold;
  grid-column: 2/3;
  grid-row: 1/2;
  color: #06908F;
  align-items: flex-end;
}

.exp .date {
  grid-column: 4/5;
  grid-row: 1/2;
  justify-content: flex-end;
  font: 0.80rem Courier, serif;
  color: #E64764
}

.exp .language {
  font-weight: bold;
  grid-row: 3/4;
  grid-column: 2/3;
  font: 0.85rem Courier, serif;
  color: #E09EA8;
  font-style: italic;
  align-items: flex-start;
}

.exp .description {
  font-weight: bold;
  grid-row: 5/6;
  grid-column: 2/5;
  font: .8rem Courier, serif;
  color: #001021;
}


.links {
  text-align: center;
}



.header .line
{
  position: absolute;
  left: 200px;
  grid-row: 2/7;
  padding: 1px;
  background-color: #f54968;
  box-shadow: 0px 0px 12px #f54968;
  width: 1px;
  height: calc(100%);
  border-radius: 50%;
  overflow: hidden;
}

.header .line .scanner
{
  position: absolute;
  top: 0;
  left: 0;
  background: #07f5f4;
  width: 100%;
  height: 20px;
  border-radius: 50%;
  animation: scanner-loop 3s ease-in-out infinite;
}




@keyframes scanner-loop
{
  0%
  {
    top: 0;
  }
  50%
  {
    top: 100%;
  }
  100%
  {
    top: 0;
  }
}

@media (max-width: 12in) {
  #work { grid-template-columns: 5%  75% 1fr 15% 5%;
        height: 1100px;}
  #work .exp {grid-template-columns: 0% 100% 1fr 15% 0%;}
  .header .line {left:10px;}
}

@media (max-width: 8.5in) {
  .header { grid-template-columns: 1fr 5% [s] 90% [e] 5% 1fr;}
  .list {grid-template-columns: 10% 80% 10% ;}
  #work { grid-template-columns: 5%  75% 1fr 15% 5%;
    height: 1400px;}
}
